# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
debug.log
local_settings.py
db.sqlite3
db.sqlite3-journal
sessions/
staticfiles/

# Environments
.env
venv/
env/
*.bak/

# IDE settings
*.vscode/
.idea/
*.iml
.spyderproject
.spyproject
.ropeproject

# macOS stuff
.DS_Store

# Certificates
*.pem
*.cert

# Miscellaneous
*.local.*

# Sensitive configuration files
wiremock_config.json
logs/
*.log