{
  "WIREMOCK_BASEURL": "https://your-wiremock-server.com",
  "TOMAN_COBANK_PATH": "/toman-cobank",
  "NOBITEX_TESTNET_BASEURL": "https://testnetapiv2.nobitex.ir/",
  "NOBITEX_TESTNET_ACCESS_TOKEN": "your_access_token_here",
  "JIBIT_COBANK_API_KEY": "your_api_key_here",
  "TOMAN_COBANK_USERNAME": "your_username_here",
  "TOMAN_COBANK_PASSWORD": "your_password_here",
  "TTXCONVERT_PATH": "/ttxconvert",
  "JIBIT_COBANK_FIXED_ACCESS_TOKEN": "your_fixed_access_token_here",
  "JIBIT_COBANK_FIXED_REFRESH_TOKEN": "your_fixed_refresh_token_here",
  "JIBIT_COBANK_PATH": "/jibit-cobank",
  "TOMAN_COBANK_CLIENT_SECRET": "your_client_secret_here",
  "TOMAN_COBANK_FIXED_ACCESS_TOKEN": "your_fixed_access_token_here",
  "TOMAN_COBANK_CLIENT_ID": "your_client_id_here",
  "JIBIT_COBANK_SECRET_KEY": "your_secret_key_here",
  "TOMAN_COBANK_FIXED_REFRESH_TOKEN": "your_fixed_refresh_token_here",
  "WIREMOCK_ADMIN_PASSWORD": "your_wiremock_admin_password_here",
  "WIREMOCK_ADMIN_USERNAME": "your_wiremock_admin_username_here",
  "PAYMAN_DIRECT_DEBIT_PATH": "/payman-direct-debit",
  "PAYMAN_DIRECT_DEBIT_CLIENTID": "your_client_id_here",
  "PAYMAN_DIRECT_DEBIT_CLIENT_SECRET": "your_client_secret_here",
  "PAYMAN_DIRECT_DEBIT_FIXED_ACCESS_TOKEN": "your_fixed_access_token_here",
  "JIBIT_IDE_API_KEY": "your_api_key_here",
  "JIBIT_IDE_SECRET_KEY": "your_secret_key_here",
  "JIBIT_IDE_FIXED_ACCESS_TOKEN": "your_fixed_access_token_here",
  "JIBIT_IDE_FIXED_REFRESH_TOKEN": "your_fixed_refresh_token_here",
  "JIBIT_IDE_PATH": "/jibit-ide",
  "JIBIT_TRF_PATH": "/jibit-trf",
  "JIBIT_TRF_API_KEY": "your_api_key_here",
  "JIBIT_TRF_SECRET_KEY": "your_secret_key_here",
  "JIBIT_TRF_FIXED_ACCESS_TOKEN": "your_fixed_access_token_here",
  "JIBIT_TRF_FIXED_REFRESH_TOKEN": "your_fixed_refresh_token_here"
}
